* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    //padding-top: 100px;
}

html {
    width: 100%;
    height: 100%;
}

/* NAVIGATION PANEL */

.navbar-text {
    color: white;
}

.bg {
    background-color: #231f20;
    height: 35px;
}

.hidden-xs{
    margin: 0 auto;
    .navbar-text{
        color: white;
        margin: 0;
        padding: 8px 20px 0 0;
    }
}


.glyphicon {
    color: #ffbe00;
}

.navbar-default {
    margin: 0;
    height: 100px;
    background-color: white;
    border: none;
    .navbar-header {
        height: 65px;
        .navbar-toggle {
            border: none;
            margin: 15px 20px;
            .icon-bar {
                background-color: #231f20;
                width: 30px;
                height: 3px;
            }
        }
    }
}

.navbar-collapse {
    background-color: white;
}

.navbar-brand {
    padding: 0;
    width: 150px;
}

.navbar-right {
    font-size: 16px;
    padding-top: 10px;
    li {
        color: #231f20;
        font-weight: 500;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffbe00;
    background: none;
    font-weight: 700;
}

/* MAIN PAGE */

#stronaglowna {
    height: 100%;
    padding-top: 100px;
    background-color: gray;
    background-image: url(../images/AdobeStock1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .header {
        margin-top: 250px;
        border: 5px solid #ffbe00;
        h1 {
            color: white;
            padding: 100px 50px;
            font-weight: 700;
        }
    }
}

/* ABOUT US */

#onas {
    padding: 100px 15px;
    background-color: #fff;
}

.about {
    padding: 0 30px;
    h3 {
        color: #292929;
        font-weight: 600;
        padding-bottom: 20px;
        line-height: 35px;
        letter-spacing: 2px;
        position: relative;
    }
    p {
        line-height: 30px;
        font-family: 'Libre Baskerville', serif;
        color: #757575;
    }
    span {
        color: #ffbe00;
        border-bottom: 2px solid #ffbe00;
    }
}

.photo {
    background-color: #757575;
    height: 400px;
}

/* OUR SERVICES */

#oferta {
    padding: 100px 15px;
    background: #f7f7f7;
}

.glyphicon-triangle-bottom {
    font-size: 24px;
}

.thumbnail {
    border: none;
    padding: 0;
    .subtitle {
        color: #292929;
        font-size: 20px;
        padding-top: 20px;
        margin-bottom: 0;
    }
    img {
        width: 100%;
        height: 280px;
        background: #696868;
    }
}

.section-title {
    h3 {
        color: #292929;
        font-weight: 600;
        margin-top: 0;
        padding-bottom: 20px;
        line-height: 35px;
        letter-spacing: 2px;
    }
}


.section-paragraph {
    line-height: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #757575;
    padding: 20px 20px;
}

.title-paragraph {
    line-height: 30px;
    padding-bottom: 20px;
}

/* FEATURED WORK */

#realizacje {
    background-color: #212121;
    h3 {
        color: #fff;
    }
    .section-paragraph {
        color: #f7f7f7;
    }
}

.container-fluid {
    .row {
        .col-md-2 {
            padding: 0;
        }
        .col-sm-4 {
            padding: 0;
        }
        .hover-box {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: 0.5s ease;
            }
            .place-text {
                position: absolute;
                top: 50%;
                left: 50%;
                p {
                    color: #fff;
                    font-size: 18px;
                    transition: 0.5s ease;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    &:last-child {
                        color: #ffbe00;
                        font-size: 12px;
                    }
                }
            }
        }
        .hover-box:hover {
            img {
                opacity: 0.3;
                transform: scale(1.2);
            }
            p {
                opacity: 1;
            }
        }
    }
}

.projects {
    padding-top: 100px;
}

/* CONTACT */

#kontakt {
    padding: 100px 15px;
    #contact-form {
        padding: 0 20px;
    }
    .section-title {
        padding-top: 50px;
    }
    .form-title {
        margin-top: 20px;
        color: #ffbe00;
        border-bottom: 2px solid #ffbe00;
        margin-left: 15px;
    }
}

button {
    background-color: #ffbe00;
    color: #fff;
}

/* GOOGLE MAP */

#map {
    padding: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    #gmap_canvas {
        height: 500px;
        width: 100%;
        img {
            max-width: none!important;
            background: none!important;
        }
    }
}

/* FOOTER */

.navbar {
    margin-bottom: 0;
}

#footer {
    background-color: #292929;
    .container {
        .footer {
            margin: 15px 0;
            color: #424242;
        }
    }
}

/* MEDIA QUERIES */

@media(min-width: 767px) {
    #stronaglowna {
        background: none;
        padding: 0;
    }

    .carousel,
    .item,
    .active {
        height: 100%;
    }

    .carousel {
        li {
            background-color: #ffbe00;
            border: #ffbe00;
        }
    }

    .item {
        &:first-child {
            background-image: url(../images/AdobeStock1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &:nth-child(2) {
            background-image: url(../images/AdobeStock2.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &:last-child {
            background-image: url(../images/AdobeStock3.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .carousel-inner {
        height: 100%;
    }

    .item {
        position: relative;
        .carousel-caption {
            position: absolute;
            top: 400px;
            .animated {
                animation: fadeIn 4s ease-out;
            }
        }
    }

    @-webkit-keyframes fadeIn {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    .navbar {
        padding: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        .collapse {
            .navbar-right {
                font-size: 14px;
                padding-top: 12px;
                a {
                    padding: 10px;
                }
            }
        }
    }

}

@media (min-width: 992px) {
    #stronaglowna {
        height: 100%;
    }
    #kontakt {
        .section-title {
            padding-top: 0;
        }
        .section-paragraph {
            padding: 20px;
        }
    }
}
